@font-face {
    font-family: ViceCitySans;
    src: url(/assets/fonts/ViceCitySans.otf);
}

@font-face {
    font-family: Catamaran;
    src: url(/assets/fonts/catamaran.ttf);
}

footer{
    position:relative;
}

body{
    background:url(/assets/images/wallpaper1.jpg);
    background-size: cover;
}

#navbar-1{
    position:relative;
}

.evContainer{
    background:url(/assets/images/wallpaper1.jpg);
    background-blend-mode:overlay;
    border-radius:20px;
   /* border:1px solid rgba(148, 124, 151, 0.15);*/
    font-family: Catamaran;
}
/*
.evContainer .row{
    border-radius:20px;
}*/

.evContainer .cartelevento{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align:left;
   /* border-radius:20px;*/
   background:linear-gradient(rgba(14, 235, 255, 0.3),rgba(116, 116, 235, 0.8));
   /* background:url(/assets/images/wallpaper1.jpg);
    background-blend-mode:overlay;*/
}




.evContainer .cartelevento h3{
    font-size: 4vh;
    margin-top:10px;
    margin-bottom: 10px;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.bscdr{ 
    text-align: center;
}
.buscador{
    background-image: url(/assets/images/searchicon.png); 
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
   /* width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top:10px;
    margin-bottom: 10px;
    border-radius:20px;
   
}

/* ------------------------------- DETALLES EVENTO ESPECIFICO-------------------------------------------*/

#detalleEvento{
    max-height: 100%;
   /* height:1000px;*/
}

#detalleEvento:hover{
    background:transparent;
    
}

.profile-card-1 {
    font-family: Catamaran;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height:200px;
    border:none;
    border-radius:10px;
    transition: 0.2s;
  }

  .profile-card-1:hover{
    transform: scale(1.052);
  }

  .profile-card-1 .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(5px);
    filter: blur(5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }
  .profile-card-1 .card-content {
    width: 100%;
    padding: 10px 25px;
    position: absolute;
    left: 0;
    top: 60%;
  }
  .profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
   /* border: 2px solid rgba(255, 255, 255, 1);*/
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .profile-card-1 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:20px;
  }
  .profile-card-1 h2 small {
    display: block;
    font-size: 15px;
   /* margin-top:10px;*/
  }
  

.tituloEv h1{
    font-size:80px;
    text-align:left;
    margin-bottom:0;
    line-height: 1;
}
.tituloEv h4{
    padding:0;
    font-size:30px;
    text-align:left;
    margin:0;
}

.bodyEvent{
    background:rgba(255, 230, 230, 0.5);
    min-height:400px;
    border-radius: 0 0 20px 20px;
    border-top: solid 4px rgba(144, 183, 255, 0.808);
    
    
}




.contenidoEvento .backgroundTotal{
    width:100%;
    vertical-align: top;
    opacity: 0.9;

    -webkit-filter: blur(5px);
    filter: blur(5px);
     -webkit-transform: scale(1.2);
    transform: scale(1.8);
}

/*Estas lineas son mucho-muy importantes, no tocar*/
.contenidoEvento{
    max-height:300px;
    overflow: hidden;
    
    transition:6s!important;
    background:url("/assets/images/fondoeventos.jpg")!important;
    background-position: 84% 38%!important;
    background-size:100%!important;
    /*background:transparent!important;*/
}

.contenidoEvento:hover{ 
    overflow: hidden;
    background:url("/assets/images/fondoeventos.jpg")!important;
    transform:scale(1.01)!important;
    background-position:58% 57%!important;
    background-size:150%!important;
/*Estas lineas son mucho-muy importantes, no tocar*/
    
}


.descripcionCompletaEv{   
    color:white;
    padding:2vh;
}

.descripcionCompletaEv p{
    font-size:24px;
}

.btn-suscribir{
    margin-top:3px;
    width:100%;
    height:55px;
    font-size:2em;
}

@media screen and (max-width: 842px){
.tituloEv h1{
    font-size:8vh;
}
.tituloEv h4{
    font-size: 3vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.tituloEv h5{
    font-size:1em;
}

.lineaDescriptivaEv{
    text-align: left;
}

}




/* -------------------------------  FIN DETALLES EVENTO ESPECIFICO-------------------------------------------*/

.evContainer li{
    border-radius:0px;
   /* background:linear-gradient(rgb(35, 192, 145,0.7),rgb(97, 97, 173,0.7));*/
   
   background:url(/assets/images/yoga.jpg);
  
  
   /* @gabi 11-7-2021 2:52 : al final no me gusto el borde margin-bottom: 3px;*/
   
    padding:10px;
    color:white;
    transition: 0.2s;
   /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;*/
}





.evContainer li:hover{
 background:linear-gradient(rgba(126, 244, 255, 0.5),rgba(127, 172, 255, 0.808));
 vertical-align: top;
  opacity: 1;
    /* -webkit-transform: scale(1.07);*/
  transform: scale(1.012);
   /*background-color:rgba(255, 253, 253, 0.1);
   background:url(/assets/images/yoga.jpg);
   background-size:cover;*/
   
    
}

.evContainer li h3{
   
    margin-bottom: 0;
}
.evContainer li p{
    
    margin-bottom: 0;
}

.container-lista-eventos{
    margin-left: 0;
}

.circuloprogreso{
    
   height: 100px;
   width:120px;
   text-align:center;
}

/* ANIMACION CARGANDO PLACEHOLDER*/
.loader-anim{
    padding:0!important;
    display:none;
}

.ph-item{
    background-color:transparent!important;
    border:0!important;
}
.ph-picture{
    background-color:transparent!important;
}

.ph-picture h3{
    font-size: 30px;
    text-align: center;
    margin-top:40px;
}
/*FIN ANIMACION CARGANDO PLACEHOLDER*/

.circuloprogreso p,.circuloprogreso strong{
position:relative;
top:-80px;
line-height: 13px;

}



/*Barra del costado IZQUIERDO*/


.asideTitle{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align:left;
   /* border-radius:20px;*/
   background:linear-gradient(rgba(14, 235, 255, 0.3),rgba(116, 116, 235, 0.8));
   color:white;
   width:96%;
  

}

.asideTitle h3{
    font-size: 4vh;
    margin-top:10px;
    margin-bottom: 10px;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.asideContent{
    background:linear-gradient(rgba(66, 164, 255, 0.561),rgba(218, 227, 255,0.2 ));
    width:92%;
    text-align:center;
    
}
.asideContent h3{
    font-size: 3vh;
    margin-top:10px;
    margin-bottom: 10px;
    text-align:left;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.admin{
   
    width:100%;
    text-align:center;
    margin-top:10px;
    
}
.admin h3{
    font-size: 3vh;
    margin-top:10px;
    margin-bottom: 10px;
    text-align:left;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.btn-tana{
    background: var(--back-color);
    border-radius: 15px;
    cursor: pointer;
    border: 2px var(--primary-color);
    color: rgba(0,0,0,.55);
    margin: 3px;
}

.btn-tana:hover{
    background: rgb(110, 103, 112);
    
    cursor: pointer;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    border: 2px var(--back-color);
    color: white;
}


/*Fin barra del costado izquierdo*/

#listaMisEventos{
    max-height: 240px;
}


.container-lista-eventos ul{   
    max-height: 440px;
    overflow: scroll;
    margin-bottom: 0;
    margin-right:0;
    overflow-x: hidden;
    padding-left:0;
}
.container-lista-eventos ul li a:hover{
    background:transparent;
    color:white;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 90px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 90px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 90px;
  }
  
  
  @media screen and (max-width: 892px){
    .col-md-8{
        width:50%
    }

    .asideContent{
        display:none;
        width:100%;
        --bs-gutter-x:0;
        margin-bottom:30px;
    }

    
    .asideTitle{
      display:none;
      border-radius: 20px 0 0 20px;
      width:100%;
      margin-right:0;
      /*--bs-gutter-x:0;
      padding-left:0;*/
      
    }
    footer{
        position:relative;
    }
}