@font-face {
    font-family: ViceCitySans;
    src: url(/assets/fonts/ViceCitySans.otf);
}

@font-face {
    font-family: Catamaran;
    src: url(/assets/fonts/catamaran.ttf);
}

footer{
    position:relative;
}

body{
    background: url("https://i.imgur.com/Vi29J4P.jpg");
   /* background:url(/assets/images/wallpaper1.jpg);*/
    background-size: 300%;
    background-position: 91% 61%;
}

#navbar-1{
    position:relative;
}

.evContainer{
    background:linear-gradient(184deg, #2e2e2e, rgb(0 0 0 / 20%));
    background-blend-mode:overlay;
    /*border-radius:20px;*/
   /* border:1px solid rgba(148, 124, 151, 0.15);*/
    font-family: Catamaran;
    min-height:800px;
}
/*
.evContainer .row{
    border-radius:20px;
}*/

.evContainer .cartelevento{
    /*border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;*/
    text-align:left;
   /* border-radius:20px;*/
   background:linear-gradient(235deg,rgb(255 0 167 / 29%),rgb(47 47 140));
   /* background:url(/assets/images/wallpaper1.jpg);
    background-blend-mode:overlay;*/
}




.evContainer .cartelevento h3{
    font-size: 4vh;
    margin-top:10px;
    margin-bottom: 10px;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.bscdr{ 
    text-align: center;
}
.buscador{
    background-image: url(/assets/images/searchicon.png); 
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
   /* width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top:10px;
    margin-bottom: 10px;
    border-radius:20px;
   
}

/* ------------------------------- DETALLES EVENTO ESPECIFICO-------------------------------------------*/

#detalleEvento{
    max-height: 100%;
   /* height:1000px;*/
}

#detalleEvento:hover{
    background:transparent;
    
}

.profile-card-1 {
    font-family: Catamaran;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height:200px;
    border:none;
    border-radius:10px;
    transition: 0.2s;
  }

  .profile-card-1:hover{
    transform: scale(1.052);
  }

  .profile-card-1 .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(5px);
    filter: blur(5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }
  .profile-card-1 .card-content {
    width: 100%;
    padding: 10px 25px;
    position: absolute;
    left: 0;
    top: 60%;
  }
  .profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
   /* border: 2px solid rgba(255, 255, 255, 1);*/
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .profile-card-1 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:20px;
  }
  .profile-card-1 h2 small {
    display: block;
    font-size: 15px;
   /* margin-top:10px;*/
  }
  

.tituloEv h1{
    z-index:1;
    font-size:50px;
    text-align:left;
    margin-bottom:0;
    line-height: 1;
}
.tituloEv h4{
    padding:0;
    font-size:30px;
    text-align:left;
    margin:0;
}

.bodyEvent{
  /*  background:rgba(255, 230, 230, 0.5);
    min-height:400px;*/
    /*border-radius: 0 0 20px 20px;*/

    
    
}

.predegrade{
background:linear-gradient(1deg,black,transparent)!important;
    z-index:0;
    position:absolute;
    width:100%;
    height:26%;

    opacity:0.5;
}




.contenidoEvento .backgroundTotal{
    width:100%;
    vertical-align: top;
    opacity: 0.9;

    -webkit-filter: blur(5px);
    filter: blur(5px);
     -webkit-transform: scale(1.2);
    transform: scale(1.8);
}

/*Estas lineas son mucho-muy importantes, no tocar*/
.contenidoEvento{
  /*  max-height:300px;*/
    overflow: hidden;
    border-bottom: solid 9px rgba(74, 88, 208, 0.81);
    transition:6s!important;
    background:url("/assets/images/fondoeventos.jpg")!important;
    background-position: 84% 38%!important;
   /* background-size:100%!important;
    /*background:transparent!important;*/
}


/*
.contenidoEvento:hover{ 
    overflow: hidden;
    background:url("/assets/images/fondoeventos.jpg")!important;
    transform:scale(1.01)!important;
    background-position:58% 57%!important;
    background-size:150%!important;
/*Estas lineas son mucho-muy importantes, no tocar*/
    
/*}*/


.descripcionCompletaEv{   
    color:white;
    padding:2vh;
}

.descripcionCompletaEv p{
    padding:2vh;
    font-size:24px;
}

.btn-suscribir{
    background: linear-gradient(185deg, #e59cd8, #415bc3bf);
    border-color:transparent;
    margin-top:3px;
    width:100%;
    height:55px;
    font-size:2em;
    transition:0.5s;
    color:white;
}

.btn-suscribir:hover{
    transform: scale(1.02);
    color:white;
}

.btn-suscribir:focus{
    transform: scale(0.96);
    background: linear-gradient(185deg, #e59cd8, #415bc3bf);
    border-color:transparent;
    box-shadow: 0 0 0 .25rem rgba(157, 100, 203, 0.27);
}

.lineaDescriptivaEv{
    text-align: left;
    background: #0e04047a;
    padding: 5px;
}



@media screen and (max-width: 842px){
.tituloEv h1{
    text-align:center;
    font-size:5vh;
}
.tituloEv h4{
    font-size: 3vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.tituloEv h5{
    font-size:1em;
}

.lineaDescriptivaEv{
    text-align: left;
    background: #0e04047a;
    padding: 5px;
}

}

.eventoUnico{
min-height:1000px;
    color:white;
    background:linear-gradient(184deg, #2e2e2e, rgb(0 0 0 / 20%));

}




/* -------------------------------  FIN DETALLES EVENTO ESPECIFICO-------------------------------------------*/



.evContainer li{
    border-radius:0px;
   /* background:linear-gradient(rgb(35, 192, 145,0.7),rgb(97, 97, 173,0.7));*/

    background: linear-gradient(336deg, rgb(41 78 124 / 0%) 0%, rgb(41 78 122) 100%, rgb(108 203 222 / 79%) 100%);
  
  
   /* @gabi 11-7-2021 2:52 : al final no me gusto el borde margin-bottom: 3px;*/
   
    padding:10px;
    color:white;
    transition: 0.2s;
   /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;*/
}





.evContainer li:hover{
 background:linear-gradient(15deg, #332e88ab, #69296178);
 vertical-align: top;
  opacity: 1;
    /* -webkit-transform: scale(1.07);*/
 /* transform: scale(1.012);*/
   /*background-color:rgba(255, 253, 253, 0.1);
   background:url(/assets/images/yoga.jpg);
   background-size:cover;*/
   
    
}

.evContainer li h3{
   
    margin-bottom: 0;
}
.evContainer li p{
    
    margin-bottom: 0;
}

.container-lista-eventos{
    margin-left: 0;
}

.circuloprogreso{
    
   height: 100px;
   width:120px;
   text-align:center;
}

/* ANIMACION CARGANDO PLACEHOLDER*/
.loader-anim{
    padding:0!important;
    display:none;
}

.ph-item{
    background-color:transparent!important;
    border:0!important;
}
.ph-picture{
    background-color:transparent!important;
}

.ph-picture h3{
    font-size: 30px;
    text-align: center;
    margin-top:40px;
}
/*FIN ANIMACION CARGANDO PLACEHOLDER*/

.circuloprogreso p,.circuloprogreso strong{
position:relative;
top:-80px;
line-height: 13px;

}



/*Barra del costado IZQUIERDO*/


.asideTitle{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align:left;
   /* border-radius:20px;*/
   background:linear-gradient(235deg,rgb(255 9 170 / 23%),rgb(47 47 140));
   color:white;
   width:96%;


}

.asideTitle h3{
    font-size: 4vh;
    margin-top:10px;
    margin-bottom: 10px;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.asideContent{
    background: linear-gradient(333deg, rgb(13 110 253 / 29%), transparent);
    border-radius: 0 0 20px 0;
    width: 93%;
    padding: 4px;
    text-align: center;
    box-shadow: 1px 2px 4px 0px rgb(0 0 0 / 20%);
    
}
.asideContent h3{
    font-size: 3vh;
    margin-top:10px;
    margin-bottom: 10px;
    text-align:left;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.admin{
   
    width:100%;
    text-align:center;
    margin-top:10px;
    
}
.admin h3{
    font-size: 3vh;
    margin-top:10px;
    margin-bottom: 10px;
    text-align:left;
   /* margin: 125px 0 125px 0;*/
    color:rgb(255, 255, 255);
}

.btn-tana{
    background: transparent;
    border-radius: 17px;
    cursor: pointer;
    border: solid 2px rgb(255 255 255);
    color: rgb(255 255 255);
    margin: 3px;
    padding-left: 1em;
    padding-right: 1em;
}

.btn-tana:hover{
    background: linear-gradient(45deg, #372f87, #622964);
    cursor: pointer;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    /* border: 2px var(--back-color); */
    color: white;
}


/*Fin barra del costado izquierdo*/

#listaMisEventos{
    max-height: 440px;
}


.container-lista-eventos ul{   
    max-height: 560px;
  /*  overflow: scroll;*/
    margin-bottom: 0;
    margin-right:0;
    overflow-x: hidden;
    padding-left:0;
}
.container-lista-eventos ul li a:hover{
    background:transparent;
    color:white;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 90px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 90px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 90px;
  }
  
  
  @media screen and (max-width: 892px){
    .col-md-8{
        width:50%
    }

    .asideContent{
        display:none;
        width:100%;
        --bs-gutter-x:0;
        margin-bottom:30px;
    }

    
    .asideTitle{
      display:none;
      border-radius: 20px 0 0 20px;
      width:100%;
      margin-right:0;
      /*--bs-gutter-x:0;
      padding-left:0;*/
      
    }
    footer{
       /* position:relative;*/
    }
}

/*Form eventos*/
.botonDias {
    margin:0;
    padding: 1rem;
    background-color:#7367f0;
    border-radius: .25em;
    font-size:1em;
    margin-top: 10rem;
    color:#fff;
    border:0;
}
.botonDias:hover{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
}

.botonDias:focus {
    box-shadow: 0 0 0 3px rgba(115,103,240,.5);

}