/*PERFIL*/

body{
    background-size:inherit;
    background-position: right;
}
.btn-tana{
    background: var(--back-color);
    width:25%;
    border-radius: 3rem;
    cursor: pointer;
    border: 2px var(--primary-color);
    color: rgba(0,0,0,.55);
    margin: 3px;
}

.btn-tana:hover{
    background: rgb(110, 103, 112);
    border-radius: 3rem;
    cursor: pointer;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    border: 2px var(--back-color);
    color: white;
}


#formulario-edit{
    display:none;
}

/* ANIMACION CARGANDO PLACEHOLDER*/
.loader-anim{
    padding:0!important;

}

.ph-item{
    background-color:transparent!important;
    border:0!important;
}
.ph-picture{
    background-color:transparent!important;
}

.ph-picture h3{
    font-size: 30px;
    text-align: center;
    margin-top:40px;
}
/*FIN ANIMACION CARGANDO PLACEHOLDER*/





#cardPerfil {
    border-radius: 20px;
    background: linear-gradient(58deg, #000000a3, transparent);
    border: 0;
}

.card-body .row h2{
    font-size:3rem;

}
label{
    font-size:2.5vh;
}


.card-img-top{
    height:200px;
    width:auto;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    /*background:url("https://i.imgur.com/QDasT72.jpg");*/
    border-radius: 20px 20px 0 0;
   /* background-position: 0% 52%;*/
    /*transition:6s;*/
    opacity:0.4;
    z-index:-10;
    background-size: 1200% 1200%;
    -webkit-animation: rainbow 28s ease infinite;
    -z-animation: rainbow 28s ease infinite;
    -o-animation: rainbow 28s ease infinite;
    animation: rainbow 28s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.card-img-top:hover{
    /*background-position: 87% 77%;*/
}


#cardPerfil img {
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
}

#cardPerfil .rounded-circle {
    width: 250px;
    height: 250px;
    /*margin: 0 auto;*/
   /* border: solid 6px linear-gra;*/
    margin-top: -120px;
    margin-bottom: 30px;
    transition:1s;
}
#cardPerfil .rounded-circle:hover{
    transform:scale(1.01);
}


#noPerfil {
  display: none;
  color: var(--primary-color);
  margin: 0 auto;
  padding: 5px;
  position:relative;
  max-width: 400px;
  z-index:1000;
}


#noPerfil .centrado {
    margin: 0;
    padding: 10px;
    position: absolute;
    border: 2px solid red;
    border-radius: 20px;
    top: -4500%;
    -ms-transform: translateY(-10%);
    transform: translateY(-50%);
}


@media screen and (max-width: 792px){
    #contenido{
       text-align:center;
    }

    #formulario-edit{
        text-align:center;
    }
 
    .btn-tana{
        width:100%;
    }
}