:root {
    --primary-color:rgb(117, 108, 108);
    --secondary-color:  #212529;
   /* --back-color: rgb(43, 38, 38); */
    --back-color: rgb(245, 238, 238);
   
        --green: #27ae60;
        --lightblue: #3498db;
        --gray: #95a5a6;
        --red: #e74c3c;
        --orange: #f1c40f;
        --white: white;
        --black: black;
        --blue: #36485f;
        --lightgray: #f1f1f1;

    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(26, 56%, 47%);
    

  }

@font-face {
    font-family: Catamaran;
    src: url(/assets/fonts/catamaran.ttf);
}


html, body {
    height: 100%;
}

body{
    background:url(/assets/images/wallpaper1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
   /* background-color: var(--back-color); */
    color: var(--primary-color);
    font-family: Catamaran;
}

form label h2{
    text-align:center;
    color:#fff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#login-desp h4 {
    /*padding-bottom: 2rem;*/
}

#submit-boton, a.btn-primary{

   background: var(--back-color);
}

.table{
    border-color: #71788c45!important;
}

table thead{
    background-color: #00ceb745;
    color:white;
}


/*@tana*/

.btn-primary{
    background: var(--back-color);
    width:100%;
    border-radius: 3rem;
    cursor: pointer;
    border: 2px var(--primary-color);
    color: rgba(0,0,0,.55);
    margin: 3px;
}

#submit-boton:hover, a.btn-primary:hover, button.btn-primary:hover{

    background: rgb(110, 103, 112);
    border-radius: 3rem;
    cursor: pointer;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    border: 2px var(--back-color);
    color: white;
}


/*splide*/

.splide__slide img {
	width : 100%;
	height: auto;
}


.navadm{
    background:#41464b;
    border-radius: 20px;
}


.table tr{
    color:white!important;
}

.btn-rol{
    margin-right: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


/*Botón mostrar/ocultar -> arreglo posición*/
.btn-outline-primary {
    display: block;
    height: auto;
 /*   margin-top: 7rem;*/
    color: white;
    border-color: white;
}

.card-header{
    color:rgb(255,255,255);
}
.card{
    background: linear-gradient(rgb(255 46 108 / 30%),#61a0fd38);
    color:white;
}

/*
#submit-boton {
    position: relative;
    width: 100%;
    height: 2rem;
    color: rgba(255,255,255,0.8);
    background: #FF3366;
    font-size: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}

#submit-boton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
}
*/
/*fin splide*/





/*--------Header adm----------*/
.adm-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding-left: 15px;
    margin: 0 auto;
    background: transparent;
    font-size: 20px;
  font-family: sans-serif;
  padding: 0 10px;
  color: var(--white);
    
  }

  * {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a, 
  button {
    color: inherit;  
  }
  
  a {
    text-decoration: none;
  }

  .adm-bar ul,
  .adm-bar button {
  display: flex;
  align-items: center;
  list-style: none;
   border: none;
   border-radius: 20px; /*botones redonditos*/
}

.adm-bar button {
    padding: 8px;
    overflow: hidden;
    transition: filter 0.25s;
    
  }
   
  .adm-bar li:nth-child(1) button {
    background: var(--green);
    
  }
   
  .adm-bar li:nth-child(2) button {
    background: var(--lightblue);
    
  }
   
  .adm-bar li:nth-child(3) button {
    background: var(--gray);
    
  }
   
  .adm-bar li:nth-child(4) button {
    background: var(--red);
    
  }
   
  .adm-bar li:nth-child(5) button {
    background: var(--orange);
    
  }
   
  .adm-bar button:hover {
    filter: brightness(110%);
  }

  .adm-bar button {
    fill: var(--white);
  }
   
  .adm-bar button span {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-out;
  }
   
  .adm-bar button:hover span {
    margin-left: 15px;
    opacity: 1;
    visibility: visible;
  }


  /*-------Fin adm bar--------*/

#logon2{
    text-align:center;

}

#logon2 .card-img-top{
    width:100%!important;
}

#logon2 h4{
    /* padding: 1vh; */
    left: 22%;
    position: absolute;
    top: 16%;
    font-size: 20px;
}
.formulariologin{
    padding:10px;
}


.menulogin{
    padding: 5px 5px 5px 0;
}

#navbarNavAltMarkup{
    /*background:#2e2e2e7a!important;*/
    background:#2e2e2e!important;
    padding:10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#navbarSecundario{
    background:transparent!important;
}

#login-desp{
   /* color: rgba(0,0,0,.55);
    background-color: #f8f9fa!important;*/
    position: absolute;
    /*padding:0 5% 0 5%;*/
    border-radius: 20px 20px 6px 6px;
    padding:0;
    
}

/* FONDITO DE COLORES DEL INICIO DE SESION */
#desplegableuser .card-img-top,#logon2 .card-img-top {
    height: 70px;
    position: relative;
    width: 158px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    /* background: url("https://i.imgur.com/QDasT72.jpg"); */
    border-radius: 20px 20px 0 0;
    /* background-position: 0% 52%; */
    /* transition: 6s; */
    opacity: 0.4;
    z-index: -1;
    background-size: 1200% 1200%;
    -webkit-animation: rainbow 28s ease infinite;
    -z-animation: rainbow 28s ease infinite;
    -o-animation: rainbow 28s ease infinite;
    animation: rainbow 28s ease infinite;


}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


/* FIN FONDITO DE COLORES DEL INICIO DE SESION NAVBAR */


#navbar-1{
    display: inline-block;
    width: -webkit-fill-available;
    border-radius:20px;
    border: 1px solid rgba(148, 124, 151, 0.15);
    font-size:large;
   /* max-width:500px;*/
   /* position:absolute;*/
}


.navbar-brand{
    font-size:25px;
    color:#FFFFFF;

}
.navbar-light .navbar-nav .nav-link{
    color:#FFFFFF!important;
}
.navbar-light .navbar-brand {
    color:#FFFFFF!important;
}
.navbar{
    background:#2e2e2e!important;

}
#logo{
    background: url("/assets/images/logo-dark.png");
    z-index: 10;
    width: 115px;
    height: 70px;
    background-position: 151% 48%;
    font-size: 41px;
    border-radius: 18px 20px 0px 20px;
    text-align: center;
    transform: scale(1.3);
    background-size: 327px 339px;
    /* box-shadow: 0px 1px 7px 5px #7208ff80; */
}

nav{
    height:90px;
}


.btn-outline-dark {
    color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);

    border-radius:20px;
    width: fit-content;
    align-self: flex-end;
    transition:.3s;
}

.btn-outline-dark:hover {

    color: rgb(231, 231, 231);
    transform:scale(1.07);
    border-color: rgb(231, 231, 231);
}

.navadm .btn-outline-dark {
    color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    background:#41464b;
    border-radius:20px;
    width: fit-content;
    align-self: flex-end;
    transition:.3s;
}

.navadm .btn-outline-dark:hover {
    background:#41464b;
    color: rgb(231, 231, 231);
    transform:scale(1.07);
    border-color: rgb(231, 231, 231);
}

.navadm .card{
    border-radius: 0 0 20px 20px;
    border:0;
}

#main{
    padding:14px;
    border-radius:20px;
    /*height:900px;*/
    background-color: rgba(35, 35, 35, 0.48);
}





.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    background-color: #2e2e2e;
    background-clip: padding-box;
 /*   border: 1px solid rgba(255, 255, 255, 0.15);*/
    border-radius: .5rem;
}

.dropdown-item {
    color: #ffffff!important;
    transition:.5s;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: rgba(141, 141, 141, 0.24);
    color:#FFFFFF;
}

.brand-logo{
    padding-left:20px!important;
    padding-right:20px!important;
}


/* footer */

footer {
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
    padding: 0.5em;
    border-radius:20px;
}

.copyright {
  padding: 28px 0;
  margin-top: 10px;
  border-radius:20px;color:white;
  background-color:#2e2e2e!important; /* #f8f9fa!important;*/
}

.copyright span, .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; 
}

.copyright a:hover {
    color:#FA6742; 
    text-decoration: none;
    text-emphasis: bold;
}

.copyright-menu ul {
  text-align: right;
  margin: 0; 
}

.copyright-menu li {
  display: inline-block;
  padding-left: 10px; 
}

.back-to-top {
  position: relative;
  z-index: 2; 
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; 
}

.back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; 
}
/* fin footer */


/* media query */
@media screen and (max-width: 1070px){
    
    /* footer */
    .row, .copyright-menu ul {
    text-align: center;
    text-decoration: none;
    }

    ol, ul {
        padding-left: 0;
    }
    /* fin footer */
}



    
@media screen and (max-width: 892px){

    .navbar, li, a, button, #navbarNavAltMarkup, #sesion {
        text-align: right;
        align-items: unset;
        
    }


     #desplegableuser .card-img-top {
      height:100px;
      width:100%;
      }

    .dropdown-item {
        display: inline-flex;
    }
 
}




#desplegableuser {
     text-align: center;
}

#desplegableuser .rounded-circle {
    width: 85px;
    height: 85px;
   /* margin: 0 auto;*/
   /* border: 1px rgb(199, 198, 198);*/
    margin-top: -70px;
    /*margin-bottom: 30px*/
}


#noPerfil {
  display: none;
  color: var(--primary-color);
  margin: 0 auto;
  padding: 5px;
  position:relative;
  max-width: 400px;
  z-index:1000;
}

@font-face {
    font-family: Catamaran;
    src: url(/assets/fonts/catamaran.ttf);
}




#noPerfil .centrado {
    margin: 0;
    padding: 10px;
    position: absolute;
    border: 2px solid red;
    border-radius: 20px;
    top: -4500%;
    -ms-transform: translateY(-10%);
    transform: translateY(-50%);
}



.evnAdmCard{
 font-family:Catamaran;
}


/* PÁGINAS DE ERROR */
 body#error {
    background-image: url(/assets/images/error-403.jpg);
    background-color: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
}

body#error main {
    margin: 0 auto;
}

body#error div {
    background-color: rgba(255, 255, 255, 0.7);
    padding:20px;
    border-radius:20px;
}

body#error div h1{
    font-size: 7rem;
}

body#error div h1, body#error div h3{
    margin-top: 10px;
    margin-bottom:5px;
    text-align: center;
    color: rgb(111, 17, 133);
    text-shadow: 2px 2px 2px gray;
}

body#error div ul{
    padding-left: 0;
    text-align: center;
}

body#error div ul li{
    display: inline;
    color: black;
    padding-left: 7px;
    padding-right: 7px
}

body#error div ul li a{
    display: inline-flex;
    padding: 1rem;
}

body#error div ul li a:hover{
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}
/* FIN PAGINAS ERROR */


/*TOASTS SWEET ALERT */
.colored-toast.swal2-icon-success {
    background-color: #423089 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #7657e8 !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-content {
    color: white;
}
/*FIN TOASTS SWEET ALERT */


/*INICIO PAGINAS QUIENES SOMOS */

body.quienesSomos {
    background: url(/assets/images/s1.jpg);
}

/*Tiene las cards dentro de article*/
main.gallery {
    display: grid;
    gap: 1rem;
    /*grid-auto-rows: 22rem;*/
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-flow: dense;
    color: white;

}


main.gallery.cards {
    color: var(--clr-neutral-900);
    background-image: url(/static/assets/images/wallpaper1.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
}



main.gallery .card-content h2 {
    margin-left: .8rem;
    font-weight: bold;
}


main.gallery div.card-content a.button {
    margin-left: .9rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-400);
    padding: 0.5em 1.25em;
    border-radius: 20px;
    margin-left: 17.5rem;
}

main.gallery div.card-content a.button:hover, 
main.gallery div.card-content a.button:focus{
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-400);

}

main.gallery .card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        /*hsl(360 100% 99% / 0.8),*/
            hsl(0 0% 0% / 0.7),
            hsl(0 0% 0% / 0.3) 50%,
            hsl(0 0% 0% / 0.1) 
        );
    border-radius: 20px;
    margin: 1em;

    transition: transform 500ms ease;
}

main.gallery .card-content:hover {
    transform: scale(1.05);
}

.card-title {
    position: relative;
    width: max-content;
    /*outline: 1px solid red;*/
}

.card-title::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    height: 4px;
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--clr-neutral-400);

    transform-origin: left;
    transform: scaleX(0);
    transition: transform 500ms ease;
}

.card-content:hover .card-title::after {
    transform: scaleX(1);
}




