:root {
    --primary-color:rgb(117, 108, 108);
    --secondary-color:  #212529;
   /* --back-color: rgb(43, 38, 38); */
    --back-color: rgb(245, 238, 238);
   
        --green: #27ae60;
        --lightblue: #3498db;
        --gray: #95a5a6;
        --red: #e74c3c;
        --orange: #f1c40f;
        --white: white;
        --black: black;
        --blue: #36485f;
        --lightgray: #f1f1f1;
      




  }

html, body {
    height: 100%;
}

body{
    background-color: var(--back-color); 
    color: var(--primary-color);
}

form label h2{
    text-align:center;
    color:#fff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#login-desp h4 {
    padding-bottom: 2rem;
}

 #submit-boton, a.btn-primary{
    background: var(--back-color);


table thead{
    background-color:rgb(116, 106, 91);
    color:white;
}
/*.btn-primary{
    background: transparent;  

    width:100%;
    border-radius: 3rem;
    cursor: pointer;
    border: 2px var(--primary-color);
    color: rgba(0,0,0,.55);
    margin: 3px;
}

#submit-boton:hover, a.btn-primary:hover{

    background: rgb(110, 103, 112);
    border-radius: 3rem;
    cursor: pointer;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    border: 2px var(--back-color);
    color: white;


}
/*

.splide__slide img {
	width : 100%;
	height: auto;
}


.navadm{
    background-color: #f8f9fa;
    border-radius: 20px;
}


#btn-rol{
    margin-top: .5rem;
    margin-bottom: .5rem;
}


#submit-boton {
    position: relative;
    width: 100%;
    height: 2rem;
    color: rgba(255,255,255,0.8);
    background: #FF3366;
    font-size: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}

#submit-boton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
}
*/





/*--------Header adm----------*/
.adm-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding-left: 15px;
    margin: 0 auto;
    background: var(--blue);
    font-size: 20px;
  font-family: sans-serif;
  padding: 0 10px;
  color: var(--white);
    
  }

  * {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a, 
  button {
    color: inherit;  
  }
  
  a {
    text-decoration: none;
  }

  .adm-bar ul,
  .adm-bar button {
  display: flex;
  align-items: center;
  list-style: none;
}

.adm-bar button {
    padding: 8px;
    overflow: hidden;
    transition: filter 0.25s;
    
  }
   
  .adm-bar li:nth-child(1) button {
    background: var(--green);
    
  }
   
  .adm-bar li:nth-child(2) button {
    background: var(--lightblue);
    
  }
   
  .adm-bar li:nth-child(3) button {
    background: var(--gray);
    
  }
   
  .adm-bar li:nth-child(4) button {
    background: var(--red);
    
  }
   
  .adm-bar li:nth-child(5) button {
    background: var(--orange);
    
  }
   
  .adm-bar button:hover {
    filter: brightness(110%);
  }

  .adm-bar button {
    fill: var(--white);
  }
   
  .adm-bar button span {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-out;
  }
   
  .adm-bar button:hover span {
    margin-left: 15px;
    opacity: 1;
    visibility: visible;
  }


  /*-------Fin adm bar--------*/

#logon2{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;    
    background-blend-mode: darken;
    border-radius:20px;
    padding-left:2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top:2px;
    justify-content: right;
    opacity: 89%;
}
#login-desp{
    color: rgba(0,0,0,.55);
    background-color: #f8f9fa!important;
    position: absolute;
    padding:5%;
    border-radius:20px;
    
}

#navbar-1{
    border-radius:20px;
    border: 1px solid rgba(148, 124, 151, 0.15);
    font-size:large;
    position:fixed;
}

#logo{
    width:70px;
    height:70px;
}

nav{
    height:90px;
}


.btn-outline-dark {
    color: var(--primary-color);
    border-color: var(--back-color);
}

.btn-outline-dark:hover {
    background-color: rgba(149, 133, 163, .55);
    color: var(--back-color);
    border-color: var(--back-color);
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: .5rem;
}

.dropdown-item {
    color: var(--primary-color)!important;
}

.brand-logo{
    padding-left:20px!important;
    padding-right:20px!important;
}



/* footer */

footer {
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
    padding: 0.5em;
    border-radius:20px;
}

.copyright {
  padding: 28px 0;
  margin-top: 10px;
  border-radius:20px;
  background-color: #f8f9fa!important;
}

.copyright span, .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; 
}

.copyright a:hover {
    color:#FA6742; 
    text-decoration: none;
    text-emphasis: bold;
}

.copyright-menu ul {
  text-align: right;
  margin: 0; 
}

.copyright-menu li {
  display: inline-block;
  padding-left: 10px; 
}

.back-to-top {
  position: relative;
  z-index: 2; 
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; 
}

.back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; 
}
/* fin footer */


/* media query */
@media screen and (max-width: 1070px){
    
    /* footer */
    .row, .copyright-menu ul {
    text-align: center;
    text-decoration: none;
    }

    ol, ul {
        padding-left: 0;
    }
    /* fin footer */
}


@media screen and (max-width: 892px){

    .navbar, li, a, button, #navbarNavAltMarkup, #sesion {
        text-align: right;
        align-items: unset;
        
    }

    .dropdown-item {
        display: inline-flex;
    }
 
}
