<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="headers :: principal"></head>
<!--IMPORTANTE LA LINEA REFERRER, SIN ESO NO ANDA EL SCRIPT PARA SUBIR IMG DE PERFIL-->
<meta name="referrer" content="no-referrer">
<!--<link rel="stylesheet" th:href="@{/assets/css/placeholder.css}">-->
<link rel="stylesheet" th:href="@{/assets/css/evento.css}">
<link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">



<body>

  <!-- header -->
  <header>
    <nav th:replace="static :: navbar"></nav>
    <div style="display:none" id="idEventoUnico" th:text="${evento.id}"></div>
  </header>


  <section>
    <div class="container-flex eventoUnico">
      <div class="row p-1 cartelevento"></div>
      <div class="row">


        <div class="col-lg-12">
          <div class="row">


            <div class="col-lg-12 container-lista-eventos">
              <ul id="detalleEvento">
                <li class="loader-anim">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture">
                        <div th:insert="static :: evnLoader"></div>
                      </div>

                    </div>
                  </div>



                </li>


                <li class="contenidoEvento" style="display:none;">



                  <div class="card-body">

                    <div class="row">
                      <div class="col-xl-2 col-lg-3 col-sm-4">
                        <!--Tarjeta Profesor-->
                        <div class="card profile-card-1">
                          <img src="https://i.imgur.com/jiLCLap.png" alt="profile-sample1" id="fotitoProfe2" class="background" />
                          <img src="https://i.imgur.com/jiLCLap.png" alt="profile-image" id="fotitoProfe" class="profile" />
                          <div class="card-content">
                            <h2 id="nombreProfesor">Romina Ahrens<small>Profesor</small></h2>

                          </div>
                        </div>

                      </div>
                      <!--Titulo Evento y Dias-->
                      <div class="col-xl-8 col-lg-6 col-sm-4 tituloEv">
                        <h1 th:text="${evento.nombre}"></h1>

                          <h4 id="modalidadEvento">Modalidad Online</h4>
                          <h5 id="diasEvento">Lunes, Miercoles y Viernes</h5>



                      </div>
                      <div class="col-xl-2 col-lg-3 col-md-6">

                      </div>


                    </div>



                  </div>
                  <div class="row lineaDescriptivaEv">
                    <div class="col-xl-2">

                      <label>
                        Ocupación:
                      </label>
                      <h6 id="ocupacionOnline">9/13 Online</h6>
                      <h6 id="ocupacionPresencial">1/13 Presencial</h6>
                    </div>


                    <div class="col-xl-2">
                      <label for="dias">
                        Dias
                      </label>
                      <h5 id="dias">Lunes, Miercoles y Viernes</h5>
                    </div>

                    <div class="col-xl-1">
                      <label for="hora">
                        Hora
                      </label>
                      <h3 id="hora">19hs</h3>
                    </div>
                    <div class="col-xl-1">
                      <label for="duracion">
                        Duración
                      </label>
                      <h3 id="duracion">3hs</h3>

                    </div>


                    <div class="col-xl-2">
                      <label for="precio">
                        Costo
                      </label>
                      <h3 id="precio">$1500</h3>
                    </div>

                    <div class="col-xl-1"><button class="btn btn-suscribir" style="display:none" id="btnBaja" onclick="dardeBaja()">Baja</button></div>
                    <div class="col-xl-2>" style="display:none" id="colBtnHidden"></div>
                    <div class="col-xl-3" id="colBtnSub">
                      <span tabindex="0" data-bs-toggle="tooltip" id="mensajitobtn">
                      <button class="btn btn-suscribir" id="btnsuscribir">Inscribirse</button>
                      </span>
                    </div>

                  </div>

                </li>

                  <div class="row descripcionCompletaEv">

                    <div class="col-xl-12">
                      <p id="descripcionEvento">Cargando Recursos</p>



                    
                    </div>
                  </div>

              <div class="informacionContainer">
                <section class="tarjetitasInfo">



                  <div class="cards">
                    <div class="card-content">
                      <h2 class="card-title">¿Consultas?</h2><br>
                      <h1 class="bi bi-telephone-outbound bordecirculo" >
                      </h1>

                      <div class="card-body">
                        <h2>Linea dedicada Eventos</h2>
                        <h3>261-111-1144</h3>
                      </div>
                      <!--        <a href="#" class="button">-->
                      <!--          Ver Perfil-->
                      <!--        </a>-->
                    </div>
                  </div>


                  <div class="cards">
                    <div class="card-content mpago">
                      <h2 class="card-title ">Medios de pago</h2><br>
                      <img class="mercadopago" th:src="@{/assets/images/mercadopago.png}" style="width:10em;" >

                      <h2 class="card-body ">
                        ¡Hasta 12 cuotas sin interés!
                      </h2>
                      <h4>Consultanos y te generamos el link!</h4>
                    </div>
                  </div>

                  <div class="cards">
                    <div class="card-content">
                      <h2 class="card-title">Sugerencias</h2><br>
                      <h1 class="bi bi-chat bordecirculo" >
                      </h1>

                      <div class="card-body">

                        <h2>¿Tenes alguna sugerencia?</h2>
                        <h4>sugerencias@eventmanager.egg</h4>
                      </div>
                    </div>


                </section>

                <section class="Faqs">
                  <div class="row faq">

                    <h1 class="titleFaqs"><div class="bi bi-question-circle " ></div>Preguntas Frecuentes</h1>
                    <div class="accordion" id="accordionFaq">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5>Si ya me inscribi, ¿Cuanto tardan en confirmar la inscripción?</h5>
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
                          <div class="accordion-body">
                            2-4 dias hábiles.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           <h5>¿Hay que llevar algo el dia del evento?  </h5>
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
                          <div class="accordion-body">
                            Generalmente no, sin embargo, si el profe especifica que hay que llevar algo, se te va a informar con al menos 4 días de anticipación.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5>Ya hice el pago, no veo la inscripción actualizada ¿Tengo que hacer algo más?</h5>
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
                          <div class="accordion-body">
                            Las inscripciones se revisan manualmente, por lo que la demora varía segun la carga de eventos que haya, si tenes consultas podés consultar al 261-111-1144.

                          </div>
                        </div>
                      </div>
                    </div>


                </section>
              </div>





              </ul>


            </div>
          </div>
        

        </div>

      </div>



    </div>

    <!--Lista de mis eventos suscriptos/de los que soy profesor-->


    <!--Lista de ultimos eventos-->






  </main>

  <!--Footer -->
  <footer th:replace="static :: footer"></footer>

</body>


<div th:replace="headers :: js"></div>

<script th:src="@{/assets/js/circle-progress.js}"></script>


<script th:src="@{/assets/js/eventovista.js}"></script>


<script th:src="@{/assets/js/inscripciones.js}"></script>



</html>