<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:insert="headers :: principal"></head>
<link rel="stylesheet" th:href="@{/assets/css/frontPage.css}">

<body>




  <!-- header -->
  <header> 
    <nav th:replace="static :: navbar"></nav>
  </header>

  <main>

    <!--Slider-->
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><img th:src="@{/assets/images/s1.jpg}"> <div class="mati"></div> <h1>Bienvenidos</h1> <h3>¿A que evento vamos hoy?</h3><h2>.evn</h2><div class="ramiro"></div></li>
          <li class="splide__slide"><img th:src="@{/assets/images/s2.jpg}"></li>

        </ul>
      </div>
    </div>



  </main>

  <!--Footer -->
  <footer th:replace="static :: footer"></footer>






</body>

<div th:replace="headers :: js"></div>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '.splide',{
      'cover'      : true,
		'height': '40rem',
          'arrows':false,



    } ).mount();
	} );

  



</script>

</html>