<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="assets/js/navbar.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    
    <title>Index</title>
</head>
<body>

<header>
  <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light m-3 p-1 sticky-top" id="navbar-1">

     <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto" >
        <a class="nav-link active" aria-current="page">Inicio</a>
        <a class="nav-link" th:href="#">¿Quienes Somos?</a>
        <a class="nav-link" th:href="#">Blog</a>

      </div>

      <!-- Botoncito Cuenta -->
      <div class="navbar navbar-nav ms-auto dropstart">
        <a class="nav-link" th:href="#">Eventos</a>
        <a class="nav-link"><button class="btn btn-outline-dark"><i class="bi-file-check"></i> </button></a>
        <button class="btn btn-outline-dark" id="sesion" data-bs-toggle="dropdown"><i class="bi-person" aria-label="account"></i> </button>
        <div class="dropdown-menu dropleft" id="login-desp" style="display:none;">

          <div class="container-flex"> <div th:if='${session.usuariosession!=null}'><a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>
          </div> </div>
          <form class="form-horizontal"  method="post" accept-charset="UTF-8" id="logon2">
          <label><img th:src="@{/assets/img/logo2.png}" style=" margin:10px; margin-right:50px;"> <H2>Iniciar Sesión</h2></label>
          <input class="form-control login" type="text" name="username" placeholder="Usuario"><br>
          <input class="form-control login" type="password" name="password" placeholder="Password"><br>
          <button class="btn btn-primary" type="submit">Conectar</button>
          </form>
         
          
          
        </div>
        
      </div>







    </div>
  </div>
  </nav>
 
</header>
  
   
  <main>



     

  </main>
  
  <footer>

  </footer>




    

</body>




</html>