<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:insert="headers :: principal"></head>
<link rel="stylesheet" th:href="@{/assets/css/frontPage.css}">

<body>
 


  <!--Slider-->
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><img th:src="@{/assets/images/s1.jpg}"></li>
        <li class="splide__slide"><img th:src="@{/assets/images/s2.jpg}"></li>
       
      </ul>
    </div>
  </div>
  <!-- header -->
  <header> 
    <nav th:replace="static :: navbar"></nav>
  </header>





  <main>




  </main>





  
  <!--Footer -->
  <footer th:replace="static :: footer"></footer>






</body>

<div th:replace="headers :: js"></div>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '.splide',{
      'cover'      : true,
		'height': '100rem',
    arrows:false,
    } ).mount();
	} );

  



</script>

</html>