<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="headers :: principal"></head>
<!--SELECTIZE-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
      integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>

<body>

<!-- header -->
<header>
    <nav th:replace="static :: navbar"></nav>
</header>
<!-- barra de carga -->
<div class="progress"
     id="cargando"
     style="margin:0; display:none;">
    <div class="indeterminate"></div>
</div>

<main>

    <div class="container-flex p-1 m-3 "
         id="main">
        <!-- BOTON MOSTRAR/OCULTAR -->
        <button class="btn btn-outline-dark btn-rol"
                id="togglerSeccion">Inscripciones Pendientes
        </button>


        <!-- FORM CREAR USUARIO DESDE ADM -->
        <div class="row p-2" id="containerUsuario">

            <h1 style="color:white; font-family:Catamaran;">Inscripciones Pendientes</h1>

            <!-- NAVEGACION SOBRE TABLA de MUESTRA DATOS -->
            <div class="navadm col-12">

                <table class="table table-bordered table-striped ">


                    <!-- BOTON ACTUALIZAR -->
                    <button type="button"
                            class="btn btn-outline-dark btn-rol"
                            onclick=actualizar()>
                        <div class=" bi bi-arrow-clockwise"><br>Actualizar</div>
                    </button>

                    <div class="col-md-6">


                    </div>


                    <!-- TABLA PARA MOSTRAR DATOS -->
                    <thead>
                    <tr>


                        <th>ID</th>
                        <th>Evento</th>
                        <th>Modalidad Inscripta</th>
                        <th>Alumno</th>
                        <th>Estado</th>

                        <th>Acciones</th>

                    </tr>
                    </thead>

                    <!-- id="datos" relaciona con js para const mostrarDatos-->
                    <tbody id="datos"></tbody>

                </table>
            </div>
            <!-- FIN DIV NAVEGACIÓN SOBRE TABLA de MUESTRA DATOS -->
        </div>
        <!-- FIN DIV FORM CREAR USUARIO -> id= containerUsuario -->
    </div>
    <!-- FIN DIV id=main -->
    <div class="container-flex p-1 m-3" id="eventosPorId">
        <!-- BOTON MOSTRAR/OCULTAR -->
        <button class="btn btn-outline-dark btn-rol"
                id="togglerInscPorEvento">Inscripciones por Evento
        </button>


        <!-- FORM PARA EVENTOS CARGADOS A DEMANDA -->
        <div class="row p-2" id="containerporEvento" style="margin-bottom:5%">
            <div class="row p-2">
                <div class="col-md-5">

                    <select id="listaTodosLosEventos" class="form-validation">

                    </select>
                </div>

                <div class="col-md-7"></div>

                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-outline-dark btn-rol"
                                onclick="cargarEventoSeleccionado()">Ver
                        </button>
                    </div>
                    <div class="col-md-11"></div>
                </div>

            </div>


            <h1 style="color:white; font-family:Catamaran;">Inscripciones por Evento</h1>

            <!-- NAVEGACION SOBRE TABLA de MUESTRA DATOS -->
            <div class="navadm col-12">

                <table class="table table-bordered table-striped ">


                    <!-- BOTON ACTUALIZAR -->
                    <button type="button"
                            class="btn btn-outline-dark btn-rol"
                            onclick=actualizar()>
                        <div class=" bi bi-arrow-clockwise"><br>Actualizar</div>
                    </button>

                    <div class="col-md-6">


                    </div>


                    <!-- TABLA PARA MOSTRAR DATOS -->
                    <thead>
                    <tr>


                        <th>ID</th>
                        <th>Evento</th>
                        <th>Modalidad Inscripta</th>
                        <th>Alumno</th>
                        <th>Estado</th>

                        <th>Acciones</th>

                    </tr>
                    </thead>

                    <!-- id="datos" relaciona con js para const mostrarDatos-->
                    <tbody id="datosEvGenerico"></tbody>

                </table>
            </div>
            <!-- FIN DIV NAVEGACIÓN SOBRE TABLA de MUESTRA DATOS -->
        </div>
        <!-- FIN DIV FORM CREAR USUARIO -> id= containerUsuario -->
    </div>


</main>

<!--Footer -->
<footer th:replace="static :: footer"></footer>

</body>

<div th:replace="headers :: js"></div>

<script type="text/javascript"
        th:src="@{/assets/js/inscripcionesadm.js}">
</script>
<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        iconColor: 'white',
        customClass: {
            popup: 'colored-toast'
        },
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
</script>

</html>