<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:insert="headers :: principal"></head>
<!--<link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css">-->

<body class="quienesSomos">

  <!-- header -->
  <header>
    <nav th:replace="static :: navbar"></nav>
  </header>



  <main class="gallery">
    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe bla bla bla</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profesor</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Nombre Profe</h2>
        <p class="card-body"> DESCRIPCION Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt, vero. Aut a, praesentium nulla
          quaerat facere neque voluptatem.
        </p>
        <a href="#" class="button">
          Ver Perfil
        </a>
      </div>
    </div>



  </main>



  <!--Footer -->
  <footer th:replace="static :: footer"></footer>






</body>

<div th:replace="headers :: js"></div>



</html>