<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:insert="headers :: principal"></head>
<!--<link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css">-->

<body class="quienesSomos">

  <!-- header -->
  <header>
    <nav th:replace="static :: navbar"></nav>
  </header>


  <div class="row p-1 cartelevento"></div>
  <main class="gallery">

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Paulina Berdichevsky</h2>
        <p class="card-body">
          Bhavprem Kaur<br>
          Instructora de Hatha y Kundalini Yoga
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Fabián Vicino Bravo</h2>
        <p class="card-body">
          Instructor de Hatha Yoga
          <br>Terapeuta de Constelaciones Familiares
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Paulina Lopez Rubia</h2>
        <p class="card-body">
          Instructora de Hatha Yoga
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Claudia Gil</h2>
        <p class="card-body">
          Instructora de Yoga Pilates Terapeútico
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>


    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Estefanía Rey</h2>
        <p class="card-body">
          Instructora de Vinyasa Yoga
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>

    <div class="cards">
      <div class="card-content">
        <h2 class="card-title">Lucila Voloschin</h2>
        <p class="card-body">
          Instructora de Ashtanga y Meditación
        </p>
<!--        <a href="#" class="button">-->
<!--          Ver Perfil-->
<!--        </a>-->
      </div>
    </div>


  </main>



  <!--Footer -->
  <footer th:replace="static :: footer"></footer>






</body>

<div th:replace="headers :: js"></div>



</html>