<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light m-3 p-1 sticky-top" id="navbar-1">

        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <div alt="logo" id="logo">.evn</div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
              <a class="nav-link" aria-current="page" th:href="@{/}">Inicio</a>
  
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false"> ¿Quienes Somos? </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" th:href="@{/instructores}">Instructores</a></li>
                  <li><a class="dropdown-item" th:href="@{/actividades}">Actividades</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" onclick="contactanos()">Contactanos</a></li>
                  <li><a class="dropdown-item" th:href="@{/register}">Registrarme</a></li>
                </ul>
              </li>

              <a class="nav-link" aria-current="page" th:href="@{/eventos}">Eventos</a>
<!--              <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button"-->
<!--                                                data-bs-toggle="dropdown" aria-expanded="false"> Eventos </a>-->
<!--                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                  <li><a class="dropdown-item" th:href="@{/eventos}">Ver eventos</a></li>-->
<!--                  <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                  </li>-->
<!--                  <li><a class="dropdown-item" href="#">Clases</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Talleres</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Presencial</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Virtual</a></li>-->
<!--                </ul>-->
<!--              </li>-->


            </div>
  
            <!-- Apartado de cuenta, eventos -->
            <div class="navbar navbar-nav ms-auto" id="navbarSecundario">

              <div class="nav-link" aria-current="page" style="margin-left:8rem;"></div>

  
  
  <!--boton usuario-->
              <button class="btn btn-outline-dark" id="sesion"  data-bs-toggle="dropdown"><i
                    class="bi-person" aria-label="account"></i> </button>
  <!--boton gestion admin-->

            <div class="dropdown-menu dropleft" id="login-desp">


              <div class="container-flex">
                  <div id="desplegableuser" th:if='${session.usuarioSession!=null}' >
                    <div class="card-img-top" alt="portada card"></div>
                    <img src="https://i.imgur.com/tRLkAZB.png" id="photoUser" class= "rounded-circle">
                    <h4 id="usdatos"th:text="${session.usuarioSession.username}"></h4>
                   <div class="menulogin">
                     <a class="dropdown-item" th:href="@{/adm}" sec:authorize="hasRole('ROLE_ADMIN')" >.evn Admin</a>
                     <a class="dropdown-item" th:href="@{/perfil}">Perfil</a>
                     <a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a>
                   </div>
                    

                    </div>
                </div>
                <form class="form-horizontal needs-validation" novalidate th:if='${session.usuarioSession==null}' th:action="@{/logincheck}" method="post"
                    accept-charset="UTF-8" id="logon2">
                  <div class="card-img-top" alt="portada card"></div>
                  <label>
                    <h4>Iniciar Sesión</h4>
                  </label>
                  <div class="formulariologin">

                    <input class="form-control login" type="text" name="username" placeholder="Usuario" required><br>
                    <input class="form-control login" type="password" name="password" placeholder="Password" required><br>
                    <button class="dropdown-item" type="submit" >Iniciar Sesión</button>
                  </div>

                  <a class="dropdown-item" th:href="@{/register}">Registrarme</a>

                </form>
            </div>
            </div>
          </div>
        </div>
    </nav>

    <div th:fragment="evnLoader" class="contenedor-logo">
      <div class="coast blanco">
        <div class="wave-rel-wrap">
          <div class="wave"></div>
        </div>
      </div>
      <div class="coast delay">
        <div class="wave-rel-wrap">
          <div class="wave delay"></div>
        </div>
      </div>

      <div class="blanco logoAnim logoAnim-a">e</div>
      <div class="blanco logoAnim logoAnim-v">v</div>
      <div class="blanco logoAnim logoAnim-e">n</div>

    </div><br>


      <footer th:fragment="footer"> 

        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <span>Copyright © 2021, EGG-M8</span>
              </div>
              <!-- End Col -->
              <div class="col-md-6">
                <div class="copyright-menu">
                  <ul>
                    <li>
                      <a th:href="@{/}">Inicio</a>
                    </li>
                    <li>
                      <a      class="copyFooter"
                              onclick="politicaPrivacidad()"
                      >Política de Privacidad</a>
                    </li>
                    <li>
                      <a      class="copyFooter"
                              onclick="contactanos()" >Contactanos</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
          <button class="btn btn-dark" title="Back to Top" style="display: block;">
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
        <!-- End Back to top -->
      </footer>

    

</body>

</html>